<template>
  <v-app id="sandbox">
    <v-navigation-drawer
      v-model="primaryDrawer.model"
      :clipped="primaryDrawer.clipped"
      :floating="primaryDrawer.floating"
      :mini-variant="primaryDrawer.mini"
      :permanent="primaryDrawer.type === 'permanent'"
      :temporary="primaryDrawer.type === 'temporary'"
      app
      overflow
      :width="360"
      src="./assets/na2.png"
      color="rgb(247, 202, 201)"
    />
     <!-- color="rgb(247, 202, 201)" -->
  <!-- src="./assets/na2.png" -->

    <v-app-bar
      :clipped-left="primaryDrawer.clipped"
      app

      src="./assets/Syuan_Nails.png"
    >
 <!-- shrink-on-scroll -->
       <!-- prominent -->
      <v-app-bar-nav-icon
        v-if="primaryDrawer.type !== 'permanent'"
        @click.stop="primaryDrawer.model = !primaryDrawer.model"
      />
      <v-toolbar-title>萲萲美甲</v-toolbar-title>
    </v-app-bar>

    <v-content>
      <v-container fluid>
        <v-row
          align="center"
          justify="center"
        >
          <v-col cols="10">
            <v-form
              ref="form"
              v-model="valid"
              lazy-validation
            >
              <v-card>
                <v-card-text>
                  <v-row>
                    <v-col
                      cols="12"
                      md="6"
                    >
                    <span>基本資料填寫</span>
                      <v-text-field
                        v-model="forms.name"
                        :rules="nameRules"
                        label="姓名"
                        prepend-icon="face"
                        required
                      ></v-text-field>
                      <v-text-field
                        v-model="forms.email"
                        :rules="emailRules"
                        label="信箱"
                        prepend-icon="email"
                        required
                      ></v-text-field>
                      <v-text-field
                        v-model="forms.lineId"
                        :rules="lineIdRules"
                        label="Line ID"
                        prepend-icon="person_add"
                        required
                      ></v-text-field>
                      <v-text-field
                        v-model="forms.phone"
                        :rules="phoneRules"
                        label="手機號碼"
                        prepend-icon="phone"
                        required
                      ></v-text-field>
                      <!-- <v-text-field
                        v-model="forms.birthday"
                        :rules="birthdayRules"
                        label="出生日期 ex: 1994-01-05"
                        required
                      ></v-text-field> -->
                      <v-menu
                        ref="menu"
                        v-model="menu"
                        :close-on-content-click="false"
                        transition="scale-transition"
                        offset-y
                        min-width="290px"
                      >
                        <template v-slot:activator="{ on }">
                          <v-text-field
                            v-model="date"
                            label="出生日期"
                            prepend-icon="event"
                            :rules="birthdayRules"
                            readonly
                            v-on="on"
                          ></v-text-field>
                        </template>
                        <v-date-picker
                          ref="picker"
                          v-model="date"
                          :max="new Date().toISOString().substr(0, 10)"
                          min="1950-01-01"
                          @change="save"
                        ></v-date-picker>
                      </v-menu>
                      <v-textarea
                        filled
                        auto-grow
                        label="備註"
                        rows="3"
                        row-height="19.5"
                      ></v-textarea>
                      </v-col>
                      <v-col
                        cols="12"
                        md="6"
                      >
                      <span>預約服務填寫</span>
                        <v-select
                          v-model="forms.select_date"
                          :items="date_options"
                          item-text="text"
                          item-value="id"
                          :rules="[v => !!v || '預約日期必須填寫']"
                          label="預約日期"
                          prepend-icon="event"
                          required
                        ></v-select>
                        <v-select
                          v-model="forms.select_time"
                          :items="time_options[forms.select_date]"
                          item-text="text"
                          :rules="[v => !!v || '預約時段必須填寫']"
                          label="預約時段"
                          prepend-icon="event"
                          required
                        ></v-select>
                      <v-checkbox
                        v-model="forms.select_gel"
                        label="光療凝膠"
                        hint="若有指定款圖片參考, 請直接傳至 Line ID: xxxxxx"
                        persistent-hint
                      ></v-checkbox>
                      <v-select
                        v-model="forms.select_disarm"
                        label="卸甲服務"
                        prepend-icon="favorite"
                        :items="disarm"
                      ></v-select>
                      <v-select
                        v-model="forms.select_plusPurchase"
                        :items="plusPurchase"
                        label="加購項目"
                        prepend-icon="add_circle_outline"
                        multiple
                        chips
                        hint="單手堆鑽$150"
                        persistent-hint
                      ></v-select>
                      </v-col>
                    </v-row>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer />
                    <!-- <v-btn text>Cancel</v-btn>
                    <v-btn
                      text
                      color="primary"
                    >Submit</v-btn>  -->

                    <v-btn
                      color="error"
                      class="mr-4"
                      @click="reset"
                    >
                      清除
                    </v-btn>

                    <v-btn
                      color="primary"
                      @click="submit"
                    >
                      送出
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-form>
            </v-col>
          </v-row>
        </v-container>
      </v-content>

    <v-footer
      :inset="footer.inset"
      app
    >
    <v-card-text class="text-center">
      <v-btn
        v-for="icon in icons"
        :key="icon"
        class="mx-2"
        icon
      >
        <v-icon size="24px">{{ icon }}</v-icon>
      </v-btn>
    </v-card-text>

    <v-divider></v-divider>
      <v-col
        class="text-center"
        cols="12"
      >
       <span class="px-2">&copy; {{ new Date().getFullYear() }} Syuan nails+</span>
      </v-col>
    </v-footer>
  </v-app>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      date: null,
      menu: false,
      drawers: ['Default (no property)', 'Permanent', 'Temporary'],
      primaryDrawer: {
        model: null,
        type: 'default (no property)',
        clipped: false,
        floating: false,
        mini: false
      },
      footer: {
        inset: false
      },
      icons: [
        'mdi-home',
        'mdi-email',
        'fab fa-facebook',
        'fab fa-instagram',
        'fab fa-line'
      ],
      valid: true,
      plusPurchase: [
        '基礎保養',
        '韓式保養'
      ],
      disarm: [
        '無',
        '卸甲',
        '卸甲(它店)'
      ],
      date_options: [],
      time_options: {},
      forms: {
        email: null,
        name: null,
        birthday: null,
        lineId: null,
        phone: null,
        select_date: null,
        select_time: null,
        select_gel: null, // 光療凝膠
        select_disarm: null, // 卸甲
        select_plusPurchase: null // 加購
      },
      nameRules: [v => !!v || '提示: 姓名 不能為空'],
      phoneRules: [v => !!v || '提示: 電話 不能為空'],
      lineIdRules: [v => !!v || '提示: lineId 不能為空'],
      birthdayRules: [v => !!v || '提示: 出生日期 不能為空'],
      emailRules: [
        v => !!v || '提示: 信箱 不能為空',
        v => /.+@.+\..+/.test(v) || '提示: 信箱 格式錯誤'
      ]
    }
  },
  mounted () {
    this.getReservationOptions()
  },
  watch: {
    menu (val) {
      val && setTimeout(() => (this.$refs.picker.activePicker = 'YEAR'))
    }
  },
  methods: {
    getReservationOptions () {
      axios
        .get('https://phpstack-396345-1247460.cloudwaysapps.com/october/api/v1/nails')
        .then(response => {
          this.date_options = response.data.dateOptions
          this.time_options = response.data.timeOptions
        })
        .catch(error => {
          console.log(error)
        })
    },
    save (date) {
      this.forms.birthday = date
      this.$refs.menu.save(date)
    },
    reset () {
      this.$refs.form.reset()
    },
    submit () {
      if (this.$refs.form.validate()) {
        axios
          .post('https://phpstack-396345-1247460.cloudwaysapps.com/october/api/v1/nails', this.forms)
          .then(response => {
            if (response.status) {
              this.$refs.form.reset()
              alert('報名完成')
              this.$router.go(0)
            }
          })
          .catch(error => {
            console.log(error)
            alert('您的預約有問題,請直接聯絡老師進行預約')
          })
      }
    }
  }

}
</script>
<style scoped>
.v-toolbar__title {
    font-size: 1rem !important;
    padding-left: 0px !important;
}
</style>
